<h1>WELCOME</h1>
<p>Support Org Ticket Workflow</p>

<br>

<strong> Select a Member:
<% @members.each do |member| %>
<strong> <br><%= link_to "#{member.name}", member_path(member) %> 
<% end %>

 <h5>Not here? Click here to create</h5>


<br>
 <strong>Find a Ticket!
<%= form_tag(tickets_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Tickets" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>




